body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.container {
    width: 640px;
    height: 640px;
    position: relative;
}

.sun{
    position: absolute;
    top: 240px;
    left: 240px;
    width: 160px;
    height: 160px;
    background-color: rgb(245, 203, 19);
    border-radius: 50%;
    box-shadow: 0 5px 60px 0 rgb(236,196,18);
}

.earth, .moon{
    position: absolute;
    border-style: solid;
    border-width: 1.6px 1.6px 0 0;
    border-radius: 50%;
    border-color: white transparent transparent;
}

.earth{
    top: 80px;
    left: 80px;
    height: 480px;
    width: 480px;
    animation: myorbit 36s linear infinite;
}

.moon{
    top: 0;
    right: 0;
    width: 128px;
    height: 128px;
    animation: myorbit 3s linear infinite;
}

.earth::before, .moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth::before{
    top: 45px;
    right: 45px;
    width: 50px;
    height: 50px;
    background-color: rgb(13, 84, 216);
}

.moon::before{
    top: 13px;
    right: 4px;
    width: 20px;
    height: 20px;
    background-color: silver;
}

@keyframes myorbit{
    to{
        transform: rotate(360deg);
    }
}